.containerMenu {
  position: absolute;
  top: 20px;
  right: 20px;

  font-weight: bold;
  display: flex;

  a {
    text-decoration: none;
  }
}

.social {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}
